.QuizBoxHeader {
  width: 65vw;
  height: 30%;
  background: #f4ca16;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid black;
  &_Info {
    margin-top: 10px;
    height: 70px;
    width: 50vw;
  }
}
.QuestionCounter {
  display: flex;
  align-items: center;
  background: #f4a948;

  width: 500px;
  height: 70%;
  border-radius: 10px;
  font-weight: 800;
  font-size: 25px;
  margin-left: 30px;
  img {
    margin-left: 30px;
  }
  p {
    margin: 0px 0px 0px 10px;
  }
}
ul {
  display: flex;
  list-style-type: none;
  & > li {
    border: 2px solid black;
    padding: 15px;
  }
}
.Please {
  color: white;
  margin: 10px 0px 0px 50px;
}
.Question {
  width: 95%;
  color: white;
  background-color: #99a813;
  margin-left: 20px;
  -webkit-box-shadow: 0px 3px 10px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 3px 10px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 3px 10px 5px rgba(34, 60, 80, 0.2);
  p {
    margin: 0px;
    padding: 0.6%;
    font-size: 20px;
  }
}
